@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #e5e5e5;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: blue;
    height: 90px;
}

header img {
    margin-left: 70px;
}

main {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    width: 100%;
    background-color: white;
}

.main-content section {
    margin-top: 5px;
    margin-left: 120px;
}

.main-content h1 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.main-content section>div {
    margin-top: 35px;
}

.main-content section>div h1 {
    font-weight: bold;
    margin-bottom: 10px;
}

.main-content section ul {
    display: flex;
}

.main-content section ul li {
    background-image: url('../Images/Camiseta.png');
    background-size: contain;
    height: 100px;
    width: 100px;
    background-color: #f2f2f2;
    border-radius: 50%;
}

.default-li{
    border: 0.5px solid #c4c4c4;
}

.model{
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.model li:hover{
    cursor:pointer;
    border: 3px solid #404EED;
}

.li-selected{
    cursor:pointer;
    border: 3px solid #404EED;
}

.model p{
    margin-top:5px;
    width: 120px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
}

.main-content section>div h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #232323;
}

.main-content section>div input {
    padding-left: 15px;
    margin-top: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    height: 40px;
    width: 84%;
    border: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color:#232323;
}

.main-content section>div input::placeholder {

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.main-content section > button{
    margin-top:25px;
    margin-bottom:40px;
    border-radius:10px;
    width: 85%;
    border:none;
    height: 40px;
    color: #fcfcfc;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.default-button{
    background-color: #c4c4c4;
}
.button-selected{
    cursor:pointer;
    background-color: #404EED;
}

aside {
    background-color: #404EED;
    width: 100%;
    height: 775px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../Images/ilustração.png');
    background-size: 100% 100%;
}

.bottom {
    height: 340px;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.last-orders {
    margin-left: 120px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #232323;
    width: 100%;
}

.last-orders ul {
    margin-top: 15px;
    display: flex;
    overflow: auto;
    max-width: 95%;
}

.last-orders ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 15px;
    border-radius: 10px;
    height: 235px;
    background-color: white;
}
.last-orders ul li h1{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    max-width: 180px;
    overflow: hidden;
}
.last-orders ul li a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
}
.last-orders img{
    cursor: pointer;
    height: 180px;
    width: 180px;
}